requests
http://ec2-3-122-244-28.eu-central-1.compute.amazonaws.com:8080/packages/aws_postgresdb_client/dist/aws_postgresdb_client-0.0.3.1.tar.gz
http://ec2-3-122-244-28.eu-central-1.compute.amazonaws.com:8080/packages/aws_secretsmanager_client/dist/aws_secretsmanager_client-0.0.1.tar.gz
http://ec2-3-122-244-28.eu-central-1.compute.amazonaws.com:8080/packages/aws_dbconnector_client/dist/aws_dbconnector_client-0.0.1.tar.gz